# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build
cache

# Foundry
apps/contracts/cache
apps/contracts/out
apps/contracts/broadcast

# Hardhat
apps/contracts/artifacts
apps/contracts/typechain-types

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Misc
*.tsbuildinfo

